.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
}

.button {
    width: 100px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: blueviolet;
}

div{
    border: 5px solid black;
}
.Display-Books {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.book {
    width: 40%; 
    display: flex;
    align-items: top; 
    margin-bottom: 10px; 
}


.Display-Books img {
    height: 450px;
    width: 500px; 
    margin-right: 25px; 
}

.book-desc {
    width: 100%; 
}

@media only screen and (max-width: 600px)
{
    .book{
        height: auto;
        width: 100%;
        margin-bottom: 30px;
        align-items: center;
    }

    .Display-Books img {
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }

    .Display-Books{
        flex-direction: column;
        align-items: center;
    }

    .book-desc{
        width: 100%;
        height: auto;
    }

}


