.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
}

.button {
    width: 100px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.pay{
    font-size: 20px;
}
.Display-Books {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.book {
    width: 40%; 
    display: flex;
    align-items: top; 
    margin-bottom: 10px; 
}

.book-desc {
    font-size: large;
}

.pay {
    margin-top: 10px; 
    align-self: flex-start; 
}

.Display-Books img {
    height: 450px;
    width: 500px; 
    margin-right: 25px; 
}

@media only screen and (max-width: 700px) {
    
    .book {
        width: 100%; 
        display: flex;
        align-items: top; 
        margin-top: 10px;
        margin-bottom: 10px; 
    }

    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .button{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 25%;
    }
}

#card, #cvv, #monthSelecter, #yearSelecter {
    display: block;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

#check {
    padding: 10px;
    border: solid;
    border-width: thin;
    cursor: pointer;
    width: 10%;
}

#displayCard, #succesPaymentP {
    font-size: x-large;
    font: bold;
}

